SERVER_ADDRESS=0.0.0.0
SERVER_PORT=8080

SPRING_DATASOURCE_URL=jdbc:mysql://127.0.0.1:3306/volunteer_service?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf8
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=your_mysql_password

SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=false

VMS_BOOTSTRAP_ENABLED=true
VMS_BOOTSTRAP_ADMIN_USERNAME=admin
VMS_BOOTSTRAP_ADMIN_PASSWORD=admin123
VMS_BOOTSTRAP_ADMIN_DISPLAY_NAME=系统管理员
VMS_BOOTSTRAP_ORGANIZER_USERNAME=organizer
VMS_BOOTSTRAP_ORGANIZER_PASSWORD=organizer123
VMS_BOOTSTRAP_ORGANIZER_DISPLAY_NAME=组织方账号

VMS_DEMO_DATA_ENABLED=true

VMS_FILE_STORAGE_DIR=./uploads
VMS_FILE_IMAGE_MAX_BYTES=5242880
VMS_FILE_ATTACHMENT_MAX_BYTES=52428800

VMS_CORS_ALLOWED_ORIGIN_PATTERNS=http://localhost:5173,http://127.0.0.1:5173
VMS_CORS_ALLOWED_METHODS=GET,POST,PUT,DELETE,PATCH,OPTIONS
VMS_CORS_ALLOWED_HEADERS=Authorization,Content-Type
VMS_CORS_ALLOW_CREDENTIALS=false
